@use "~/styles/system/media";

html,
body {
	background: var(--cs-color-background);
	background: var(--body-bg-img);
	background-attachment: fixed;
	background-blend-mode: hard-light;
	color: var(--cs-color-text);
}

body {
	font-family: var(--cs-font-family-text);
}

.chance-dot-dev {
	height: 100%;
	isolation: isolate;
}

.button {
	--color-bg: var(--cs-color-button);
	--color-fg: var(--cs-color-text);
	--color-border: var(--cs-color-border-strong);
	--translate: 0;
	--height: 2.625rem;
	--text-shadow: none;
	display: inline-flex;
	place-content: center;
	border-radius: 0;
	border-color: transparent;
	padding: 0.75em 0.875em;
	font-size: 1rem;
	font-weight: 600;
	transform: translateY(var(--translate));
	background-color: var(--color-bg);
	background-image: var(--grad-bg);
	color: var(--color-fg);
	border: 1px solid var(--color-border);
	text-shadow: var(--text-shadow);
	height: var(--height);
	line-height: 1;
	user-select: none;
	overflow: hidden;

	&:hover {
		--color-bg: var(--cs-color-button-hover);
		--color-border: var(--cs-color-border-hover);
	}

	&:active {
		--translate: 1px;
	}

	&-primary {
		--color-bg: var(--cs-color-accent);
		--color-fg: var(--cs-color-white);
		--color-border: var(--cs-color-accent);
		--text-shadow: 1px 1px 3px hsl(0 0% 0% / 0.25);

		&:hover {
			--color-bg: var(--cs-color-accent);
			--color-border: var(--cs-color-accent);
			filter: brightness(110%);
		}

		&:active {
			--color-bg: var(--cs-color-accent);
			--color-border: var(--cs-color-accent);
			filter: brightness(95%);
		}
	}

	&-danger {
		--color-bg: hsl(5 92% 45% / 1);
		--color-border: hsl(5 92% 35% / 1);
		--color-fg: hsl(0 100% 100% / 1);
		--text-shadow: 1px 1px 3px hsl(0 0% 0% / 0.25);

		&:hover {
			--color-bg: hsl(5 88% 42% / 1);
			--color-border: hsl(5 88% 35% / 1);
		}

		&:active {
			--color-bg: hsl(5 88% 35% / 1);
		}
	}

	&-rounded {
		width: var(--height);
		border-radius: 9999px;
	}
}
