@use "~/styles/system/media";

html,
body {
	background: var(--cs-color-background);
	background: var(--body-bg-img);
	background-attachment: fixed;
	background-blend-mode: hard-light;
	color: var(--cs-color-text);
}

body {
	font-family: var(--cs-font-family-text);
}

@media screen and (media.get(xl)) {
	html {
		font-size: 18px;
	}
}

.chance-dot-dev {
	height: 100%;
	isolation: isolate;
}

input:where(:not([type])),
[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="search"],
[type="tel"],
[type="number"],
[type="date"],
[type="month"],
[type="week"],
[type="time"],
[type="datetime"],
[type="datetime-local"],
textarea {
	--color-bg: hsl(0 0% 99% / 1);
	--color-fg: var(--cs-color-text);
	--color-placeholder: hsl(0 0% 43% / 1);
	--color-border: hsl(0 0% 65% / 1);
	--color-outline: hsl(0 0% 0% / 0);
	--color-error-border: var(--cs-color-red-10);
	--width-outline: 0;
	appearance: none;
	font: inherit;
	font-size: 1rem;
	width: 100%;
	min-width: 0;
	display: inline-flex;
	border: 1px solid var(--color-border);
	border-radius: 4px;
	padding: 0 0.75em;
	background: var(--color-bg);
	color: var(--color-fg);
	height: 3em;
	line-height: 1;
	outline: var(--width-outline) solid var(--color-outline);
	outline-offset: 0;
	transition: border-color 150ms ease-out;
	-webkit-tap-highlight-color: transparent;

	&:focus {
		--color-bg: hsl(0 0% 100% / 1);
		--color-border: var(--cs-color-accent);
		--color-outline: var(--cs-color-accent);
		--width-outline: 1px;
	}

	&:invalid:where([data-touched="true"]),
	&[aria-invalid="true"] {
		--color-border: var(--color-error-border);
		--color-outline: var(--color-error-border);
	}

	@media (prefers-color-scheme: dark) {
		--color-bg: hsl(0 0% 8% / 1);
		--color-placeholder: hsl(0 0% 65% / 1);
		--color-border: hsl(0 0% 31% / 1);
		&:focus {
			--color-bg: hsl(0 0% 2.5% / 1);
		}
	}
}

textarea {
	min-height: 6em;
	resize: vertical;
	padding: 1em 0.75em;
}

::placeholder {
	color: var(--cs-color-text-weakest);
}

[type="checkbox"],
[type="radio"] {
	// appearance: none;
	font: inherit;
	width: 1rem;
	height: 1rem;
	border: 1px solid var(--color-border);
	border-radius: 9999px;
	background: var(--color-bg);
	color: var(--color-fg);
	outline: var(--width-outline) solid var(--color-outline);
	outline-offset: 0;
	transition: border-color 150ms ease-out;
	-webkit-tap-highlight-color: transparent;
	accent-color: var(--cs-color-accent);

	&:where(:focus) {
		--color-bg: hsl(0 0% 100% / 1);
		--color-border: var(--cs-color-accent);
		--color-outline: var(--cs-color-accent);
		--width-outline: 1px;
	}

	&:invalid:where([data-touched="true"]),
	&[aria-invalid="true"] {
		--color-border: var(--color-error-border);
		--color-outline: var(--color-error-border);
	}

	@media (prefers-color-scheme: dark) {
		--color-bg: hsl(0 0% 8% / 1);
		--color-placeholder: hsl(0 0% 65% / 1);
		--color-border: hsl(0 0% 31% / 1);
		&:focus {
			--color-bg: hsl(0 0% 2.5% / 1);
		}
	}
}

.button {
	--color-bg: var(--cs-color-button);
	--color-fg: var(--cs-color-text);
	--color-border: var(--cs-color-border-strong);
	--translate: 0;
	--height: 2.625rem;
	--text-shadow: none;
	display: inline-flex;
	place-content: center;
	border-radius: 4px;
	border-color: transparent;
	padding: 0.75em 0.875em;
	font-size: 1rem;
	font-weight: 600;
	transform: translateY(var(--translate));
	background-color: var(--color-bg);
	background-image: var(--grad-bg);
	color: var(--color-fg);
	border: 1px solid var(--color-border);
	text-shadow: var(--text-shadow);
	height: var(--height);
	line-height: 1;
	user-select: none;
	overflow: hidden;

	&:hover {
		--color-bg: var(--cs-color-button-hover);
		--color-border: var(--cs-color-border-hover);
	}

	&:active {
		--translate: 1px;
	}

	&-primary {
		--color-bg: var(--cs-color-accent);
		--color-fg: var(--cs-color-white);
		--color-border: var(--cs-color-accent);
		--text-shadow: 1px 1px 3px hsl(0 0% 0% / 0.25);

		&:hover {
			--color-bg: var(--cs-color-accent);
			--color-border: var(--cs-color-accent);
			filter: brightness(110%);
		}

		&:active {
			--color-bg: var(--cs-color-accent);
			--color-border: var(--cs-color-accent);
			filter: brightness(95%);
		}
	}

	&-danger {
		--color-bg: hsl(5 92% 45% / 1);
		--color-border: hsl(5 92% 35% / 1);
		--color-fg: hsl(0 100% 100% / 1);
		--text-shadow: 1px 1px 3px hsl(0 0% 0% / 0.25);

		&:hover {
			--color-bg: hsl(5 88% 42% / 1);
			--color-border: hsl(5 88% 35% / 1);
		}

		&:active {
			--color-bg: hsl(5 88% 35% / 1);
		}
	}

	&-rounded {
		width: var(--height);
		border-radius: 9999px;
	}
}
