.container {
	--container-width: 64rem;
	--container-edge-space: 0.5rem;
	margin: 0 auto;
	width: var(--container-width);
	max-width: calc(100% - 2 * var(--container-edge-space) * 2);
	@media (--xs) {
		--container-edge-space: 1rem;
	}
	@media (--sm) {
		--container-edge-space: 1.75rem;
	}
}

.container .container {
	max-width: 100%;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.flex {
	display: flex;
}

.hidden {
	display: none;
}

@media (--sm) {
	.sm\:block {
		display: block;
	}

	.sm\:inline {
		display: inline;
	}

	.sm\:flex {
		display: flex;
	}

	.sm\:hidden {
		display: none;
	}
}

// Root route
.layout--root {
	&__title {
		font-size: 1.25rem;
		line-height: 1.4;
		font-family: var(--cs-font-family-heading);
		font-weight: var(--cs-font-weight-heading);
		margin-bottom: 0.5em;
		@media (--sm) {
			font-size: 1.5rem;
			line-height: 1.33;
		}
		@media (--md) {
			font-size: 1.875rem;
			line-height: 1.2;
		}
	}
}
