@font-face {
	font-family: untitled-sans;
	src: url("/fonts/untitled-sans-light.woff2");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: untitled-sans;
	src: url("/fonts/untitled-sans-regular.woff2");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: untitled-sans;
	src: url("/fonts/untitled-sans-medium.woff2");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: untitled-sans;
	src: url("/fonts/untitled-sans-light-italic.woff2");
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: untitled-sans;
	src: url("/fonts/untitled-sans-regular-italic.woff");
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: untitled-sans;
	src: url("/fonts/untitled-sans-medium-italic.woff");
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: editorial-new;
	src: url("/fonts/editorial-new.woff2");
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: editorial-new;
	src: url("/fonts/editorial-new-italic.woff2");
	font-weight: 100 900;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: berkeley-mono;
	src: url("/fonts/berkeley-mono.woff2");
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: berkeley-mono;
	src: url("/fonts/berkeley-mono-italic.woff2");
	font-weight: 100 900;
	font-display: swap;
	font-style: italic;
}

:root {
	--ff-sans:
		untitled-sans, "Helvetica Neue", Helvetica, ui-sans-serif, system-ui;
	--ff-serif: editorial-new, ui-serif, Garamond, "Times New Roman", serif;
	--ff-mono: berkeley-mono, ui-monospace, monospace;
	--ff-heading: var(--ff-serif);
	--ff-body: var(--ff-sans);
}
