@layer prose {
	.prose {
		font-size: 0.9375rem;
		line-height: 1.6;

		p {
			margin-top: 1em;
			margin-bottom: 1em;
		}

		h1,
		h2,
		h3,
		h4 {
			font-family: var(--ff-heading);
			font-weight: 300;
			text-wrap: balance;
		}

		h1 {
			font-size: 2.25rem;
			line-height: 1.111;
			margin-top: 1em;
			margin-bottom: 0.125em;
			@media (--sm) {
				font-size: 3rem;
				line-height: 1;
			}
		}

		h2 {
			font-size: 1.5rem;
			line-height: 1.333;
			margin-top: 2em;
			margin-bottom: 0.5em;
			@media (--sm) {
				font-size: 2.25rem;
				line-height: 1.111;
			}
		}

		h3 {
			font-size: 1.25rem;
			line-height: 1.4;
			margin-top: 1.5em;
			margin-bottom: 0;
			@media (--sm) {
				font-size: 1.5rem;
				line-height: 1.333;
			}
		}

		h4 {
			font-size: 1.25rem;
			line-height: 1.4;
			margin-top: 1.25em;
			margin-bottom: -0.5em;
		}

		a {
			color: var(--color-text-weak);
			text-decoration: underline;
			text-decoration-color: var(--color-text-weaker);
			&:hover {
				color: var(--color-accent);
				text-decoration-color: var(--color-accent);
			}
		}

		ul,
		ol {
			list-style-type: none;
			margin-top: 1em;
			margin-bottom: 2em;
			padding-left: 2em;

			& > :where(li) {
				padding-left: 0.5em;
				position: relative;
				&::marker {
					color: var(--color-accent);
					font-weight: bold;
				}
			}
		}

		ul :where(li) {
			list-style-type: disc;
		}

		ol :where(li) {
			list-style-type: decimal;
		}

		aside {
			font-size: inherit;
			font-weight: 400;
			color: var(--color-text-weaker);
			padding: 1em 0;
			border-top: 1px solid var(--color-border-weak);
			border-bottom: 1px solid var(--color-border-weak);
		}

		pre {
			position: relative;
			background-color: var(--base00);
			border: 1px solid var(--color-border-weak);
			margin-top: 1em;
			margin-bottom: 1em;
			font-size: inherit;
			padding: 1em;
			font-weight: 100;
			tab-size: 2;
		}

		pre[data-line-numbers="true"] {
			padding-left: 3.5rem;
		}

		.codeblock-line {
			position: relative;
			display: block;
			width: 100%;
		}

		.codeblock-line[data-line-number]::before {
			content: attr(data-line-number);
			display: block;
			font: inherit;
			line-height: inherit;
			line-height: inherit;
			opacity: 0.325;
			position: absolute;
			right: calc(100% + 1rem);
			text-align: right;
		}

		code {
			font-size: 0.875em;
			font-weight: 100;
			display: inline-flex;
			position: relative;
			padding: 0 0.5em;
			font-style: normal;
		}

		pre code {
			display: contents;
		}

		> p code {
			position: relative;
			display: inline;
			white-space: nowrap;
			padding: 0 0.5em;
			&::before {
				content: "";
				position: absolute;
				top: -0.125em;
				bottom: -0.125em;
				left: 0;
				right: 0;
				border: 1px solid var(--color-border-weak);
				border-radius: 2px;
			}
		}

		pre .copy-button {
			position: absolute;
			top: 0.5em;
			right: 0.5em;
			z-index: 1;
			opacity: 0;
			height: 2rem;
			width: 2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid var(--color-border);
			border-radius: 3px;
			background-color: var(--color-button);
			color: var(--color-button-text);
		}

		pre .copy-button:hover,
		pre .copy-button:active {
			background-color: var(--color-button-hover);
		}

		pre .copy-button:focus,
		pre:focus .copy-button,
		pre:focus-within .copy-button,
		pre:hover .copy-button {
			opacity: 1;
		}

		del {
			text-decoration-thickness: clamp(2px, 0.125em, 6px);
			text-decoration-color: var(--color-text-error);
		}

		tweet-embed {
			margin: 1.5rem 0;
		}

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}
}
