@use "~/styles/system/media";

.page--content {
	&__page-title {
		margin-bottom: 1em;
	}

	&__featured-items {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		@media (--md) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		@media (--lg) {
			gap: 2rem;
		}
	}

	&__featured-item-link {
		display: flex;
	}

	&__featured-item-body {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
	}
}
