.postsFeed {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	@media (--sm) {
		gap: 3rem;
	}
}

.post {
	--gap-col: 0;
	--gap-row: 0;
	--meta-size: auto;
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-row);
	column-gap: var(--gap-col);

	@media (min-width: 1436px) {
		--gap-col: 4.625rem;
		--meta-size: 6.75rem;
		display: grid;
		margin-left: calc((var(--gap-col) + var(--meta-size)) * -1);
		grid-template:
			"meta title" auto
			"meta content" 1fr
			/ var(--meta-size) 1fr;
	}
}

.postHeader {
	display: flex;
	flex-direction: column-reverse;
	gap: 0.325rem;
	@media (--sm) {
		gap: 0.5rem;
	}
	@media (min-width: 1436px) {
		display: contents;
	}
}

.postMeta {
	grid-area: meta;
}

.postTitle {
	grid-area: title;
	margin-bottom: 1rem;

	a {
		transition: color 250ms ease-out;
	}

	a:hover {
		color: var(--cs-color-accent);
	}
}

.postContent {
	grid-area: content;
}
