.page--home {
	padding-top: 6rem;
	padding-bottom: 2rem;
	@media (--sm) {
		padding-top: 8rem;
		padding-bottom: 4rem;
	}
	@media (--lg) {
		padding-top: 10rem;
		padding-bottom: 5rem;
	}

	&__header {
		max-width: 22rem;
		@media (--sm) {
			max-width: none;
		}
	}

	&__title {
		--shadow-offset: 2px;
		line-height: 0.85;
		text-transform: uppercase;
		font-style: italic;
		font-size: 3.25rem;
		font-weight: var(--cs-font-weight-strongest);
		margin-left: -0.175em;
		color: inherit;

		/* prettier-ignore */
		filter:
			drop-shadow(var(--shadow-offset) var(--shadow-offset) 0 var(--cs-color-green-04))
			drop-shadow(var(--shadow-offset) var(--shadow-offset) 0 var(--cs-color-green-10));
		@media (--dark) {
			/* prettier-ignore */
			filter:
				drop-shadow(var(--shadow-offset) var(--shadow-offset) 0 var(--cs-color-green-10))
				drop-shadow(var(--shadow-offset) var(--shadow-offset) 0 var(--cs-color-green-18));
		}

		@media (--sm) {
			--shadow-offset: 3px;
			font-size: 4.5rem;
		}

		@media (--lg) {
			--shadow-offset: 4px;
			font-size: 7.5rem;
		}

		&__title-top,
		&__title-emphasis {
			display: block;
		}
	}

	&__intro {
		margin-bottom: 1rem;
		margin-top: 1em;
		line-height: 1.33;

		@media (--sm) {
			font-size: 1.125rem;
		}

		@media (--md) {
			font-size: 1.5rem;
		}

		@media (--xl) {
			font-size: 1.5rem;
		}
	}

	&__intro-list {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		font-size: 0.875rem;
		margin-top: 1.5rem;

		@media (--sm) {
			flex-direction: row;
			gap: 1.5rem;
			font-size: 1rem;
		}

		@media (--md) {
			margin-top: 2rem;
		}
	}

	&__intro-item {
		display: flex;
		gap: 0.5rem;
	}

	&__intro-icon {
		width: 1.25rem;
		height: 1.25rem;
		opacity: 0.5;
		@media (--sm) {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	&__nav-list {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-top: 1.5rem;
		padding-top: 0.75rem;
		border-top: 1px solid var(--cs-color-border);

		@media (--sm) {
			flex-direction: row;
			gap: 1.5rem;
		}

		@media (--md) {
			margin-top: 2rem;
			padding-top: 1rem;
		}
	}

	&__nav-item {
		font-weight: var(--cs-font-weight-strongest);
		text-transform: uppercase;
		display: flex;
	}

	&__nav-link {
		display: flex;
		padding: var(--touch-offset);
		color: var(--cs-color-text);
		&:hover {
			color: var(--cs-color-text-link-hover);
		}

		@media (--sm-down) {
			outline-offset: 0;
		}
		@media (--md) {
			border-radius: 0;
		}

		@media screen {
			transform: translateY(0);
			&:hover {
				transform: translateY(-1px);
			}
		}

		@media screen and (--md) {
			padding: 0;
		}

		@media screen and (--motion) {
			transition: transform 300ms cubic-bezier(0.22, 0.15, 0, 4.06);
		}
	}
}
