@import "mixins";

.post {
	background: var(--color-body-background);
	box-shadow: 0 20px 30px -20px rgba(0, 0, 0, 0.15);
	padding: calc(var(--size-block-space) * 1);
	margin-left: calc(var(--size-block-space) * -1);
	margin-right: calc(var(--size-block-space) * -1);
	border-radius: 16px;
	transition: box-shadow 600ms ease-out;

	&:hover {
		box-shadow: 0 30px 40px -30px rgba(0, 0, 0, 0.5);
	}

	&:not(:last-of-type) {
		margin-bottom: calc(var(--size-block-space) * 2);
	}

	&:not(:first-of-type) {
		margin-top: calc(var(--size-block-space) * 2);
	}
}
