@import "mixins";

.wrapper {
	@include make-container;
	@include make-vertically-spaced-main;
}

.post {
	&:not(:last-of-type) {
		margin-bottom: calc(var(--size-block-space) * 2);
	}

	&:not(:first-of-type) {
		margin-top: calc(var(--size-block-space) * 2);
	}
}

.title {
	margin-bottom: calc(var(--size-block-space) * 2);
}

.subscribeForm {
	@include make-container(calc(var(--size-block-space) * 23));
	margin-top: calc(var(--size-block-space) * 4);
}
