@import "mixins";

main,
details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

a {
	background-color: transparent;
}

b,
strong {
	font-weight: bolder;
}

img {
	border-style: none;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

@include button-like-elements {
	-webkit-appearance: button;

	&:-moz-focusring {
		outline: 1px solid ButtonText;
	}

	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
}
