@layer components.AdminHeader {
	.AdminHeader {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: var(--header-height);
		padding: 0 var(--pad-x);
		background-color: var(--color-white);
		background-color: light-dark(var(--color-white), var(--color-gray-18));
		font-size: 0.875rem;
	}

	.AdminHeader__form {
		display: flex;
		gap: 1rem;
	}

	.AdminHeader__user-avatar {
		--size: 28px;
		width: var(--size);
		height: var(--size);
		border: 1px solid;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.75rem;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		user-select: none;

		@media (--md) {
			--size: 18px;
		}
	}
}
