@layer components.AdminHeader {
	.AdminHeader {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: var(--header-height);
		padding: 0 var(--pad-x);
		background-color: var(--color-white);
		font-size: 0.875rem;
		@media (--dark) {
			background-color: var(--color-gray-18);
		}
	}

	.AdminHeader__form {
		display: flex;
		gap: 1rem;
	}

	.AdminHeader__user-avatar {
		width: 2rem;
		height: 2rem;
		border-radius: 9999px;
		border: 1px solid;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.75rem;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		user-select: none;
	}
}
