@layer components.card {
	.card {
		--ui-card-pad: 0;
		--ui-card-bg: none;
		--ui-card-shadow: none;
		--ui-card-border: 0;
		--ui-card-radius: 0;
		background-color: var(--ui-card-bg);
		box-shadow: var(--ui-card-shadow);
		border: var(--ui-card-border);
		border-radius: var(--ui-card-radius);
	}

	.card--depth-raised {
		--ui-card-shadow: 0 20px 13px rgb(0 0 0 / 0.03), 0 8px 5px rgb(0 0 0 / 0.08);
	}

	.card--no-depth {
		--ui-card-shadow: none;
	}

	.card:where(:not(.card--no-pad)) {
		--ui-card-pad: 1rem;
	}

	@media (--sm) {
		.card:where(:not(.card--no-pad)) {
			--ui-card-pad: 2rem;
		}
	}

	@media (--lg) {
		.card:where(:not(.card--no-pad)) {
			--ui-card-pad: 3rem;
		}
	}

	.card:where(:not(.card--no-bg)) {
		--ui-card-border: 1px solid var(--color-border-weak);
		--ui-card-bg: var(--color-background-raised);
	}

	.card:where(:not(.card--no-bg)):where(.card--rounded-corners-xs) {
		--ui-card-radius: 2px;
	}

	.card:where(:not(.card--no-bg)):where(.card--rounded-corners-sm) {
		--ui-card-radius: 4px;
	}

	.card:where(:not(.card--no-bg)):where(.card--rounded-corners-md) {
		--ui-card-radius: 6px;
	}

	.card:where(:not(.card--no-bg)):where(.card--rounded-corners-lg) {
		--ui-card-radius: 8px;
	}

	.card:where(:not(.card--no-bg)):where(.card--rounded-corners-xl) {
		--ui-card-radius: 12px;
	}

	@media (--sm) {
		.card:where(.sm\:card--no-pad) {
			--ui-card-pad: 0;
		}

		.card:where(.sm\:card--no-bg) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-radius: 0;
		}

		.card:where(.sm\:card--uncard) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-pad: 0;
			--ui-card-radius: 0;
		}
	}

	@media (--sm-down) {
		.card:where(.sm-down\:card--no-pad) {
			--ui-card-pad: 0;
		}

		.card:where(.sm-down\:card--no-bg) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-radius: 0;
		}

		.card:where(.sm-down\:card--uncard) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-pad: 0;
			--ui-card-radius: 0;
		}
	}

	@media (--md) {
		.card:where(.md\:card--no-pad) {
			--ui-card-pad: 0;
		}

		.card:where(.md\:card--no-bg) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-radius: 0;
		}

		.card:where(.md\:card--uncard) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-pad: 0;
			--ui-card-radius: 0;
		}
	}

	@media (--md-down) {
		.card:where(.md-down\:card--no-pad) {
			--ui-card-pad: 0;
		}
		.card:where(.md-down\:card--no-bg) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-radius: 0;
		}
		.card:where(.md-down\:card--uncard) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-pad: 0;
			--ui-card-radius: 0;
		}
	}
	@media (--lg) {
		.card:where(.lg\:card--no-pad) {
			--ui-card-pad: 0;
		}
		.card:where(.lg\:card--no-bg) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-radius: 0;
		}
		.card:where(.lg\:card--uncard) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-pad: 0;
			--ui-card-radius: 0;
		}
	}
	@media (--lg-down) {
		.card:where(.lg-down\:card--no-pad) {
			--ui-card-pad: 0;
		}
		.card:where(.lg-down\:card--no-bg) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-radius: 0;
		}
		.card:where(.lg-down\:card--uncard) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-pad: 0;
			--ui-card-radius: 0;
		}
	}
	@media (--xl) {
		.card:where(.xl\:card--no-pad) {
			--ui-card-pad: 0;
		}
		.card:where(.xl\:card--no-bg) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-radius: 0;
		}
		.card:where(.xl\:card--uncard) {
			--ui-card-bg: none;
			--ui-card-border: 0;
			--ui-card-shadow: none;
			--ui-card-pad: 0;
			--ui-card-radius: 0;
		}
	}

	.card__inner {
		padding: var(--ui-card-pad);
	}
}
