.cs--input {
	$self: &;
	--input-color-bg: var(--cs-field-bg);
	--input-color-fg: var(--cs-field-fg);
	--input-color-placeholder: var(--cs-field-placeholder);
	--input-color-border: var(--cs-field-border);
	--input-color-error-border: var(--cs-field-border-error);
	--input-color-outline: var(--cs-field-outline);
	--input-color-accent: var(--cs-field-bg);
	--input-color-marker: transparent;
	--input-size-outline: 0;
	--input-outline-offset: 0;
	border: 1px solid var(--input-color-border);
	border-radius: 0;
	background: var(--input-color-bg);
	color: var(--input-color-fg);
	outline: var(--input-size-outline) solid var(--input-color-outline);
	outline-offset: var(--input-outline-offset);
	transition: border-color 50ms ease-out, outline 50ms ease-out;
	-webkit-tap-highlight-color: transparent;

	&--text,
	&--email,
	&--url,
	&--password,
	&--search,
	&--tel,
	&--number,
	&--date,
	&--month,
	&--week,
	&--time,
	&--datetime,
	&--datetime-local,
	&--select,
	&--textarea {
		appearance: none;
		font: inherit;
		font-size: 1rem;
		width: 100%;
		min-width: 0;
		display: inline-flex;
		padding: 0 0.75em;
		height: 3em;
		line-height: 1;
	}

	&--textarea {
		min-height: 6em;
		resize: vertical;
		padding: 1em 0.75em;
	}

	&--checkbox,
	&--radio {
		padding: 0;
		width: 1rem;
		height: 1rem;
	}

	&--checked {
		--input-color-accent: var(--cs-color-accent);
		--input-color-marker: var(--cs-color-white);
	}

	&__accent {
		fill: var(--input-color-accent);
	}

	&__marker {
		fill: var(--input-color-marker);
		transform-origin: center;
	}

	&--radio {
		border-radius: 9999px;
	}

	&:focus,
	&--focused {
		--input-color-bg: var(--cs-field-bg-focus);
		--input-color-border: var(--cs-field-border-focus);
		--input-color-outline: var(--cs-field-outline-focus);
		--input-size-outline: 1px;
		--input-outline-offset: 0;
	}

	&:active,
	&--active {
		--input-color-bg: var(--cs-field-bg-active);
		--input-color-border: var(--cs-field-border-active);
		--input-color-outline: var(--cs-field-outline-active);
		--input-color-border: var(--cs-field-border-focus);
		--input-size-outline: 0;
		--input-outline-offset: 0;
		--input-color-accent: var(--cs-field-bg-active);
	}

	&:active:where(#{$self}--checked),
	&--active:where(#{$self}--checked) {
		--input-color-accent: var(--cs-color-accent-deep);
	}

	&:invalid:where([data-touched="true"]),
	&[aria-invalid="true"] {
		--input-color-border: var(--input-color-error-border);
		--input-color-outline: var(--input-color-error-border);
	}

	&::placeholder {
		color: var(--cs-field-placeholder);
	}
}
