@layer components.input {
	.input {
		--input-color-bg: var(--color-white);
		--input-color-bg-focus: var(--color-gray-005);
		--input-color-fg: var(--color-text);
		--input-color-placeholder: var(--color-text-weakest);
		--input-color-border: var(--color-border);
		--input-color-border-focus: var(--color-focus-ring);
		--input-color-error-border: var(--color-text-error);
		--input-color-outline: transparent;
		--input-color-accent: var(--input-color-bg);
		--input-color-marker: transparent;
		--input-size-outline: 0;
		--input-outline-offset: 0;
		border: 1px solid var(--input-color-border);
		border-radius: 0;
		background: var(--input-color-bg);
		color: var(--input-color-fg);
		outline: var(--input-size-outline) solid var(--input-color-outline);
		outline-offset: var(--input-outline-offset);
		transition:
			border-color 50ms ease-out,
			outline 50ms ease-out;
		-webkit-tap-highlight-color: transparent;

		@media (--dark) {
			--input-color-bg: var(--color-black);
			--input-color-bg-focus: var(--color-gray-18);
		}
	}

	.input--text,
	.input--email,
	.input--url,
	.input--password,
	.input--search,
	.input--tel,
	.input--number,
	.input--date,
	.input--month,
	.input--week,
	.input--time,
	.input--datetime,
	.input--datetime-local,
	.input--select,
	.input--textarea {
		appearance: none;
		font: inherit;
		font-size: 1rem;
		width: 100%;
		min-width: 0;
		display: inline-flex;
		padding: 0 0.75em;
		height: 3em;
		line-height: 1;
	}

	.input--textarea {
		min-height: 6em;
		resize: vertical;
		padding: 1em 0.75em;
	}

	.input--checkbox,
	.input--radio {
		padding: 0;
		width: 1rem;
		height: 1rem;
	}

	.input--checked {
		--input-color-accent: var(--color-accent);
		--input-color-marker: var(--color-white);
	}

	.input__accent {
		fill: var(--input-color-accent);
	}

	.input__marker {
		fill: var(--input-color-marker);
		transform-origin: center;
	}

	.input--radio {
		border-radius: 9999px;
	}

	.input:focus,
	.input--focused {
		--input-color-bg: var(--input-color-bg-focus);
		--input-color-border: var(--input-color-border-focus);
		--input-color-outline: var(--input-color-border-focus);
		--input-size-outline: 1px;
		--input-outline-offset: 0;
	}

	.input:active,
	.input--active {
		--input-color-border: var(--input-color-border-focus);
		--input-size-outline: 0;
		--input-outline-offset: 0;
	}

	.input:active:where(.input--checked),
	.input--active:where(.input--checked) {
		--input-color-accent: var(--color-accent-deep);
	}

	.input:invalid:where([data-touched="true"]),
	.input[aria-invalid="true"] {
		--input-color-border: var(--input-color-error-border);
		--input-color-outline: var(--input-color-error-border);
	}

	.input::placeholder {
		color: var(--input-color-placeholder);
	}
}
