.spacer {
	--spacer-size: auto;
	display: block;
	position: relative;
}

.spacer--axisX {
	display: inline-block;
	inline-size: var(--spacer-size);
}

.spacer--axisY {
	block-size: var(--spacer-size);
}

.spacer--minmax {
	inline-size: auto !important;
	block-size: auto !important;
}

.spacer--minmax {
	--spacer-min-size: auto;
	--spacer-max-size: auto;
}

.spacer--minmax:where(.spacer--axisX) {
	min-inline-size: var(--spacer-min-size);
	max-inline-size: var(--spacer-min-size);
}

.spacer--minmax:where(.spacer--axisY) {
	min-block-size: var(--spacer-min-size);
	max-block-size: var(--spacer-min-size);
}

.spacer--flex {
	inline-size: auto;
	block-size: auto;
	max-inline-size: auto;
	max-block-size: auto;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: var(--spacer-size);
}

.spacer--flex:where(.spacer--minmax) {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: var(--spacer-min-size);
}

.spacer--flex:where(.spacer--minmax, .spacer--axisX) {
	max-inline-size: var(--spacer-max-size);
}

.spacer--flex:where(.spacer--minmax, .spacer--axisY) {
	max-block-size: var(--spacer-max-size);
}

.spacer--1 {
	--spacer-size: 0.25rem;
}

.spacer--2 {
	--spacer-size: 0.5rem;
}

.spacer--3 {
	--spacer-size: 0.75rem;
}

.spacer--4 {
	--spacer-size: 1rem;
}

.spacer--5 {
	--spacer-size: 1.25rem;
}

.spacer--6 {
	--spacer-size: 1.5rem;
}

.spacer--7 {
	--spacer-size: 1.75rem;
}

.spacer--8 {
	--spacer-size: 2rem;
}

.spacer--9 {
	--spacer-size: 2.25rem;
}

.spacer--10 {
	--spacer-size: 2.5rem;
}

.spacer--min-1 {
	--spacer-min-size: 0.25rem;
}

.spacer--min-2 {
	--spacer-min-size: 0.5rem;
}

.spacer--min-3 {
	--spacer-min-size: 0.75rem;
}

.spacer--min-4 {
	--spacer-min-size: 1rem;
}

.spacer--min-5 {
	--spacer-min-size: 1.25rem;
}

.spacer--min-6 {
	--spacer-min-size: 1.5rem;
}

.spacer--min-7 {
	--spacer-min-size: 1.75rem;
}

.spacer--min-8 {
	--spacer-min-size: 2rem;
}

.spacer--min-9 {
	--spacer-min-size: 2.25rem;
}

.spacer--min-10 {
	--spacer-min-size: 2.5rem;
}

.spacer--max-1 {
	--spacer-max-size: 0.25rem;
}

.spacer--max-2 {
	--spacer-max-size: 0.5rem;
}

.spacer--max-3 {
	--spacer-max-size: 0.75rem;
}

.spacer--max-4 {
	--spacer-max-size: 1rem;
}

.spacer--max-5 {
	--spacer-max-size: 1.25rem;
}

.spacer--max-6 {
	--spacer-max-size: 1.5rem;
}

.spacer--max-7 {
	--spacer-max-size: 1.75rem;
}

.spacer--max-8 {
	--spacer-max-size: 2rem;
}

.spacer--max-9 {
	--spacer-max-size: 2.25rem;
}

.spacer--max-10 {
	--spacer-max-size: 2.5rem;
}
