@use "~/styles/system/media";
@use "sass:string";
@use "sass:list";

.ui--text-prose,
.ui--text {
	--ui-text-fz-title: 1.5rem;
	--ui-text-fz-h1: 1.5rem;
	--ui-text-fz-h2: 1.25rem;
	--ui-text-fz-h3: 1.125rem;
	--ui-text-fz-h4: 1rem;
	--ui-text-fz-h5: 0.875rem;
	--ui-text-fz-h6: 0.75rem;
	--ui-text-fz-body: 1rem;
	--ui-text-fz-body-sm: 0.75rem;
	--ui-text-fz-body-md: 1rem;
	--ui-text-fz-body-lg: 1.125rem;

	--ui-text-lh-title: 1.25;
	--ui-text-lh-h1: 1.25;
	--ui-text-lh-h2: 1.333;
	--ui-text-lh-h3: 1.333;
	--ui-text-lh-h4: 1.5;
	--ui-text-lh-h5: 1.5;
	--ui-text-lh-h6: 1.625;
	--ui-text-lh-body: 1.5;

	--ui-text-color-text: var(--cs-color-text);
	--ui-text-weak: var(--cs-color-text-weak);
	--ui-text-weaker: var(--cs-color-text-weaker);
	--ui-text-weakest: var(--cs-color-text-weakest);
	--ui-text-success: var(--cs-color-green-13);
	--ui-text-critical: var(--cs-color-red-12);
	--ui-text-warning: var(--cs-color-yellow-15);
	--ui-text-accent: var(--cs-color-accent);

	--ui-text-weight-regular: var(--cs-font-weight-default);
	--ui-text-semibold: var(--cs-font-weight-stronger);
	--ui-text-bold: var(--cs-font-weight-strongest);

	@media (--dark) {
		--ui-text-success: var(--cs-color-green-06);
		--ui-text-critical: var(--cs-color-red-06);
		--ui-text-warning: var(--cs-color-yellow-09);
	}

	@media (--sm) {
		--ui-text-fz-title: 2rem;
		--ui-text-fz-h1: 2rem;
		--ui-text-fz-h2: 1.5rem;
		--ui-text-fz-h3: 1.25rem;
		--ui-text-fz-h4: 1.125rem;
		--ui-text-fz-h5: 1rem;
		--ui-text-fz-h6: 0.875rem;
		--ui-text-fz-body-sm: 0.875rem;
		--ui-text-fz-body-md: 1.125rem;
		--ui-text-fz-body-lg: 1.25rem;
	}

	@media (--lg) {
		--ui-text-fz-title: 2.5rem;
		--ui-text-fz-h1: 2.5rem;
		--ui-text-fz-h2: 2rem;
		--ui-text-fz-h3: 1.625rem;
		--ui-text-fz-h4: 1.325rem;
		--ui-text-fz-body-lg: 1.5rem;
	}
}

.ui--text-prose {
	$self: &;

	:where(p, li) {
		font-weight: var(--ui-text-weight-regular);
		font-size: var(--ui-text-fz-body);
		line-height: var(--ui-text-lh-body);
	}

	&:where(#{$self}--body-sm) :where(p, li) {
		font-weight: var(--ui-text-weight-regular);
		font-size: var(--ui-text-fz-body-sm);
		line-height: var(--ui-text-lh-body);
	}

	&:where(#{$self}--body-md) :where(p, li) {
		font-weight: var(--ui-text-weight-regular);
		font-size: var(--ui-text-fz-body-md);
		line-height: var(--ui-text-lh-body);
	}

	&:where(#{$self}--body-lg) :where(p, li) {
		font-weight: var(--ui-text-weight-regular);
		font-size: var(--ui-text-fz-body-lg);
		line-height: var(--ui-text-lh-body);
	}

	:where(ol, ul) {
		margin-top: 1.25em;
		margin-bottom: 1.25em;
	}

	:where(ol) {
		list-style-type: decimal;
		padding-left: 1.625em;
	}

	:where(ul) {
		list-style-type: none;
		padding-left: 0;
	}

	:where(li) {
		display: list-item;
	}

	:where(ol > li)::marker {
		font-weight: 400;
	}
}

.ui--text {
	// base
	font-family: var(--cs-font-family-text);
	color: var(--ui-text-color-text);
	text-transform: none;
	text-decoration: none;
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	letter-spacing: normal;

	// variants
	&--heading-title {
		font-size: var(--ui-text-fz-title);
		line-height: var(--ui-text-lh-title);
	}

	&--heading-1 {
		font-weight: var(--ui-text-semibold);
		font-size: var(--ui-text-fz-h1);
		line-height: var(--ui-text-lh-h1);
	}

	&--heading-2 {
		font-weight: var(--ui-text-semibold);
		font-size: var(--ui-text-fz-h2);
		line-height: var(--ui-text-lh-h2);
	}

	&--heading-3 {
		font-weight: var(--ui-text-semibold);
		font-size: var(--ui-text-fz-h3);
		line-height: var(--ui-text-lh-h3);
	}

	&--heading-4 {
		font-weight: var(--ui-text-semibold);
		font-size: var(--ui-text-fz-h4);
		line-height: var(--ui-text-lh-h4);
	}

	&--heading-5 {
		font-weight: var(--ui-text-semibold);
		font-size: var(--ui-text-fz-h5);
		line-height: var(--ui-text-lh-h5);
	}

	&--heading-6 {
		font-weight: var(--ui-text-semibold);
		font-size: var(--ui-text-fz-h6);
		line-height: var(--ui-text-lh-h6);
	}

	&--body {
		font-weight: var(--ui-text-weight-regular);
		font-size: var(--ui-text-fz-body);
		line-height: var(--ui-text-lh-body);
	}

	&--body-sm {
		font-weight: var(--ui-text-weight-regular);
		font-size: var(--ui-text-fz-body-sm);
		line-height: var(--ui-text-lh-body);
	}

	&--body-md {
		font-weight: var(--ui-text-weight-regular);
		font-size: var(--ui-text-fz-body-md);
		line-height: var(--ui-text-lh-body);
	}

	&--body-lg {
		font-weight: var(--ui-text-weight-regular);
		font-size: var(--ui-text-fz-body-lg);
		line-height: var(--ui-text-lh-body);
	}

	// colors
	&--color-text {
		color: var(--ui-text-color-text);
	}

	&--weak {
		color: var(--ui-text-weak);
	}

	&--weaker {
		color: var(--ui-text-weaker);
	}

	&--weakest {
		color: var(--ui-text-weakest);
	}

	&--success {
		color: var(--ui-text-success);
	}

	&--critical {
		color: var(--ui-text-critical);
	}

	&--warning {
		color: var(--ui-text-warning);
	}

	&--accent {
		color: var(--ui-text-accent);
	}

	// weights
	&--weight-weight-regular {
		font-weight: var(--ui-text-weight-regular);
	}

	&--weight-bold {
		font-weight: var(--ui-text-bold);
	}

	&--weight-semibold {
		font-weight: var(--ui-text-semibold);
	}

	// alignment
	&--align-start {
		text-align: left;
		@supports (text-align: start) {
			text-align: start;
		}
	}

	&--align-center {
		text-align: center;
	}

	&--align-end {
		text-align: right;
		@supports (text-align: end) {
			text-align: end;
		}
	}

	// word break
	&--break-normal {
		word-break: normal;
	}

	&--break-word {
		word-break: break-word;
	}

	&--break-all {
		word-break: break-all;
	}

	&--keep-all {
		word-break: keep-all;
	}

	&--no-wrap {
		white-space: nowrap;
	}

	// truncate
	&--truncate {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	// text transform
	&--transform-none {
		text-transform: none;
	}

	&--uppercase {
		text-transform: uppercase;
	}

	&--lowercase {
		text-transform: lowercase;
	}

	&--capitalize {
		text-transform: capitalize;
	}
}
