.category {
	display: inline-block;
	font-family: var(--font-family-body);
	font-weight: var(--font-weight-body-bold);
	font-size: 85%;

	&:not(:last-child) {
		margin-right: 1em;
	}
}

.categoryText,
.categoryLink {
	color: var(--color-gray-50);
}

.categoryLink {
	text-decoration: none;
	border-bottom: 2px solid var(--color-gray-30);

	&:hover {
		border-bottom-color: transparent;
	}
}
