.iconWrapper {
	display: block;
	position: absolute;
	left: calc(-1 * var(--switch-border-width) + var(--switch-border-width) / 2);
	top: calc(-1 * var(--switch-border-width) + var(--switch-border-width) / 2);
	transition: transform var(--switch-transition-time)
		var(--switch-transition-timing-func);
	width: calc(var(--switch-width) / 2 - var(--switch-border-width));
	height: calc(var(--switch-width) / 2 - var(--switch-border-width));
	transform: translateX(0);
	z-index: 2;
}

.iconWrapperChecked {
	transform: translateX(calc(var(--switch-width) / 2));
	z-index: 2;
}

.icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
