.article {
	position: relative;
}

.titleLink {
	&:not(:hover) {
		color: inherit;
		text-decoration-line: none;
	}
}

.postMeta {
	margin-top: 0.5em;
}

.header {
	margin-bottom: var(--size-block-space);
}

.content {
	&:not(:first-of-type) {
		margin-top: var(--size-block-space);
	}
}

.categoryList {
	a {
		border-bottom: 0;
	}
}
