@import "mixins";

$directions: block, inline;
$breakpoints: medium, large;
$collapses: collapse, separate;

@function startsWith($string, $find) {
	@return str-index($string, $find) == 1;
}

@function endsWith($string, $find) {
	@return str-index($string, $find) ==
		(str-length($string) - str-length($find) + 1);
}

.spacer {
	display: block;

	&--vertical-main {
		--mm: calc(var(--size-block-space) * 4);
		margin-top: var(--mm);

		@media screen and (--bp-medium) and (max-width: 700px) {
			--mm: calc(var(--size-block-space) * 5);
		}

		@media screen and (--bp-medium) and (max-width: 800px) {
			--mm: calc(var(--size-block-space) * 6);
		}

		@media screen and (--bp-medium) and (max-width: 900px) {
			--mm: calc(var(--size-block-space) * 8);
		}
	}

	@each $direction in $directions {
		$direction: unquote($direction);

		&--direction-#{$direction} {
			@each $collapse in $collapses {
				$prop: if(
					$collapse == separate,
					if($direction == block, height, width),
					if($direction == block, margin-top, margin-left)
				);

				&.spacer--spaces-0--1-3.spacer--collapse-#{$collapse} {
					#{$prop}: calc(var(--size-block-space) * 0.333);
				}

				&.spacer--spaces-0--2-3.spacer--collapse-#{$collapse} {
					#{$prop}: calc(var(--size-block-space) * 0.667);
				}

				&.spacer--spaces-0--1-4.spacer--collapse-#{$collapse} {
					#{$prop}: calc(var(--size-block-space) * 0.25);
				}

				&.spacer--spaces-0--3-4.spacer--collapse-#{$collapse} {
					#{$prop}: calc(var(--size-block-space) * 0.75);
				}

				@for $i from 1 through 10 {
					$less: $i - 1;
					$f-1-2-str: unquote("#{$less}--1-2");
					// $1-4-str: unquote("#{$less}--1-4");
					// $3-4-str: unquote("#{$less}--3-4");
					// $1-3-str: unquote("#{$less}--1-3");
					// $2-3-str: unquote("#{$less}--2-3");

					&.spacer--spaces-#{$f-1-2-str}.spacer--collapse-#{$collapse} {
						#{$prop}: calc(var(--size-block-space) * #{$i - 0.5});
					}

					&.spacer--spaces-#{$i}.spacer--collapse-#{$collapse} {
						#{$prop}: calc(var(--size-block-space) * #{$i});
					}
				}
			}
		}
	}

	@each $breakpoint in $breakpoints {
		@media screen and (--bp-#{$breakpoint}) {
			@each $direction in $directions {
				$direction: unquote($direction);

				&--#{$breakpoint}-direction-#{$direction} {
					@each $collapse in $collapses {
						$prop: if(
							$collapse == separate,
							if($direction == block, height, width),
							if($direction == block, margin-top, margin-left)
						);

						&.spacer--#{$breakpoint}-spaces-0--1-3.spacer--#{$breakpoint}-collapse-#{$collapse} {
							#{$prop}: calc(var(--size-block-space) * 0.333);
						}

						&.spacer--#{$breakpoint}-spaces-0--2-3.spacer--#{$breakpoint}-collapse-#{$collapse} {
							#{$prop}: calc(var(--size-block-space) * 0.667);
						}

						&.spacer--#{$breakpoint}-spaces-0--1-4.spacer--#{$breakpoint}-collapse-#{$collapse} {
							#{$prop}: calc(var(--size-block-space) * 0.25);
						}

						&.spacer--#{$breakpoint}-spaces-0--3-4.spacer--#{$breakpoint}-collapse-#{$collapse} {
							#{$prop}: calc(var(--size-block-space) * 0.75);
						}

						@for $i from 1 through 10 {
							$half: $i - 0.5;
							$half-str: unquote("#{$i - 1}-5");

							&.spacer--#{$breakpoint}-spaces-#{$half-str}.spacer--#{$breakpoint}-collapse-#{$collapse} {
								#{$prop}: calc(var(--size-block-space) * #{$half});
							}

							&.spacer--#{$breakpoint}-spaces-#{$i}.spacer--#{$breakpoint}-collapse-#{$collapse} {
								#{$prop}: calc(var(--size-block-space) * #{$i});
							}
						}
					}
				}
			}
		}
	}
}
