.auth-layout {
	--container-width: 28rem;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 100%;
}

.auth-box-container {
	width: 40rem;
	max-width: calc(100% - 4rem);
	margin: 0 auto;
}

.auth-box {
	--color-shadow: hsl(0 0% 0% / 0.125);
	@media (min-width: 601px) {
		flex: 1 0 auto;
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.checkbox-field {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}

.auth-postfix {
	color: var(--cs-color-text-weaker);
	font-size: 0.825em;
	text-align: center;

	a {
		text-decoration: underline;
	}
}
