.links {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
	justify-content: space-between;
	padding: 4rem 1rem 2rem;
	height: 100%;
	width: 100%;
}

.linksInner {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	max-width: 32rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading {
	text-align: center;
	max-width: 16rem;
}

.photo {
	margin-bottom: 1rem;
}

.photoImg {
	width: 6rem;
	height: 6rem;
	object-fit: contain;
	object-position: center;
	border-radius: 99999px;
}

.name {
	& em {
		color: var(--cs-color-accent);
	}
}

.desc {
}

.linksContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
}

.link {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	border: 1.5px solid var(--cs-color-accent);
	line-height: 1;
	font-weight: bold;
	border-radius: 6px;
	height: 2.5rem;
	transform: translateY(0);
	background-color: var(--cs-color-background);
	color: var(--cs-color-text);
	user-select: none;

	&:hover {
		transform: translateY(-1px);
	}

	&:active {
		transform: translateY(1px);
	}
}
