:root {
	--black: #000;
	--white: #fff;

	/* #region GRAY */
	--gray-00: #fcfdfd;
	--gray-01: #f8f9f9;
	--gray-02: #ecedef;
	--gray-03: #e0e2e4;
	--gray-04: #d5d7da;
	--gray-05: #c9cbcf;
	--gray-06: #bdc0c4;
	--gray-07: #b2b5ba;
	--gray-08: #a6aaaf;
	--gray-09: #9b9ea4;
	--gray-10: #8f9399;
	--gray-11: #808389;
	--gray-12: #717479;
	--gray-13: #626469;
	--gray-14: #525459;
	--gray-15: #434548;
	--gray-16: #343538;
	--gray-17: #252628;
	--gray-18: #161718;
	--gray-19: #070708;
	/* #endregion */

	/* #region RED */
	--red-00: #fffafa;
	--red-01: #fff2f2;
	--red-02: #ffdad9;
	--red-03: #ffc2c0;
	--red-04: #ffaca6;
	--red-05: #ff978d;
	--red-06: #ff8476;
	--red-07: #ff725e;
	--red-08: #ff644a;
	--red-09: #ff5b3c;
	--red-10: #ff5533;
	--red-11: #e64f2d;
	--red-12: #cc4926;
	--red-13: #b34220;
	--red-14: #993a1b;
	--red-15: #803216;
	--red-16: #662911;
	--red-17: #4d200c;
	--red-18: #331608;
	--red-19: #1a0b04;
	/* #endregion */

	/* #region MAGENTA */
	--magenta-00: #fffafc;
	--magenta-01: #fff3f9;
	--magenta-02: #ffdcef;
	--magenta-03: #ffc4e3;
	--magenta-04: #ffadd7;
	--magenta-05: #ff96ca;
	--magenta-06: #ff80bc;
	--magenta-07: #ff6aad;
	--magenta-08: #fc579e;
	--magenta-09: #f4498f;
	--magenta-10: #e73f81;
	--magenta-11: #d13871;
	--magenta-12: #bb3062;
	--magenta-13: #a42953;
	--magenta-14: #8e2345;
	--magenta-15: #771c37;
	--magenta-16: #60162b;
	--magenta-17: #48101f;
	--magenta-18: #300b14;
	--magenta-19: #18050a;
	/* #endregion */

	/* #region BLUE */
	--blue-00: #fafeff;
	--blue-01: #f0fbff;
	--blue-02: #d5f3ff;
	--blue-03: #baebff;
	--blue-04: #a0e1ff;
	--blue-05: #85d7ff;
	--blue-06: #6bcbff;
	--blue-07: #50beff;
	--blue-08: #37affb;
	--blue-09: #279ef1;
	--blue-10: #1b8de2;
	--blue-11: #0969b8;
	--blue-12: #065ba5;
	--blue-13: #054d91;
	--blue-14: #033f7d;
	--blue-15: #023369;
	--blue-16: #012755;
	--blue-17: #001c40;
	--blue-18: #00122b;
	--blue-19: #000916;
	/* #endregion */

	/* #region CYAN */
	--cyan-00: #f9fefe;
	--cyan-01: #f0fcfc;
	--cyan-02: #d5f8f8;
	--cyan-03: #baf3f5;
	--cyan-04: #a0edf2;
	--cyan-05: #85e6ee;
	--cyan-06: #6bddea;
	--cyan-07: #50d3e5;
	--cyan-08: #35c6dd;
	--cyan-09: #1bb5d0;
	--cyan-10: #09a0be;
	--cyan-11: #078eac;
	--cyan-12: #057c9a;
	--cyan-13: #036b88;
	--cyan-14: #025a75;
	--cyan-15: #014963;
	--cyan-16: #003a4f;
	--cyan-17: #002a3c;
	--cyan-18: #001c28;
	--cyan-19: #000d14;
	/* #endregion */

	/* #region MINT */
	--mint-00: #f9fdfc;
	--mint-01: #f0faf7;
	--mint-02: #d5f2ea;
	--mint-03: #baebdf;
	--mint-04: #a0e4d4;
	--mint-05: #85dcca;
	--mint-06: #6bd4c0;
	--mint-07: #50cbb6;
	--mint-08: #35c0ac;
	--mint-09: #1bb09e;
	--mint-10: #069d8e;
	--mint-11: #048e83;
	--mint-12: #038078;
	--mint-13: #02706c;
	--mint-14: #01615f;
	--mint-15: #005151;
	--mint-16: #004142;
	--mint-17: #003032;
	--mint-18: #002021;
	--mint-19: #001011;
	/* #endregion */

	/* #region GREEN */
	--green-00: #f9fdfb;
	--green-01: #f0fbf4;
	--green-02: #d5f4e2;
	--green-03: #baeed0;
	--green-04: #a0e8bf;
	--green-05: #85e2b0;
	--green-06: #6bdba1;
	--green-07: #50d392;
	--green-08: #35c984;
	--green-09: #1bba76;
	--green-10: #02a767;
	--green-11: #019860;
	--green-12: #008858;
	--green-13: #00784f;
	--green-14: #006746;
	--green-15: #00573d;
	--green-16: #004632;
	--green-17: #003527;
	--green-18: #00241b;
	--green-19: #00120e;
	/* #endregion */

	/* #region YELLOW */
	--yellow-00: #fffdfa;
	--yellow-01: #fff9f0;
	--yellow-02: #ffefd5;
	--yellow-03: #ffe5ba;
	--yellow-04: #ffdaa0;
	--yellow-05: #ffd085;
	--yellow-06: #fcc56b;
	--yellow-07: #f6b850;
	--yellow-08: #edaa36;
	--yellow-09: #f09f0a;
	--yellow-10: #ce8c09;
	--yellow-11: #bb8207;
	--yellow-12: #a77705;
	--yellow-13: #936b03;
	--yellow-14: #7f5f02;
	--yellow-15: #6b5101;
	--yellow-16: #564300;
	--yellow-17: #413400;
	--yellow-18: #2c2300;
	--yellow-19: #161200;
	/* #endregion */

	/* #region ORANGE */
	--orange-00: #fffbfa;
	--orange-01: #fff4f2;
	--orange-02: #ffe0d9;
	--orange-03: #ffcec1;
	--orange-04: #ffbca7;
	--orange-05: #ffab8f;
	--orange-06: #ff9c78;
	--orange-07: #ff8d5f;
	--orange-08: #ff814c;
	--orange-09: #f8783d;
	--orange-10: #eb7033;
	--orange-11: #d5682d;
	--orange-12: #be5e27;
	--orange-13: #a85521;
	--orange-14: #904b1b;
	--orange-15: #794016;
	--orange-16: #613511;
	--orange-17: #4a290c;
	--orange-18: #311c08;
	--orange-19: #190e04;
	/* #endregion */
}
